<mat-card class="user-detail-view">
  <div>
    <img src="assets/img/1.png" />
    <span>
      <h2>Max Mustermann</h2>
      <span>max-mustermann@test.de</span>
    </span>
  </div>
</mat-card>

<mat-card class="user-detail-address-view">
  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <span>{{user.street}}</span>
      <div>
        <span>{{user.zipCode}}</span>
        <span> {{user.city}}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
